
@{
    ViewData["Title"] = "Index";
}

<h1>Admin ne 1 sâ123123s</h1>

<a href="/admin/News">/admin/New</a>
<br />
<a href="/admin/Posts/Create">/Posts/Create</a>
<br />
<a href="/logout-admin.html">Logout</a>