
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Pills navs -->
<ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link " id="tab-login" data-mdb-toggle="pill" href="~/dang-nhap.html" role="tab"
           aria-controls="pills-login" aria-selected="true">Login</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="tab-register" data-mdb-toggle="pill" href="#pills-register" role="tab"
           aria-controls="pills-register" aria-selected="false">Register</a>
    </li>
</ul>
<!-- Pills navs -->
<!-- Pills content -->
<div class="tab-content">
    <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
        <form asp-action="Create" asp-controller="Account" method="post">
            <div class="text-center mb-3">
                <p>Sign in with:</p>
                <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-facebook-f"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-google"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-twitter"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-github"></i>
                </button>
            </div>

            <p class="text-center">or:</p>

            <!-- Email input -->
            <div class="form-outline mb-4">
                <input type="text" id="loginName" name="FullName" class="form-control" />
                <label class="form-label" for="loginName"> username</label>
            </div>
            <div class="form-outline mb-4">
                <input type="text" id="loginName" name="Email" required class="form-control" />
                <label class="form-label" for="loginName"> Email</label>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
                <input type="text" id="loginPassword" name="Password" required class="form-control" />
                <label class="form-label" for="loginPassword">Password</label>
            </div>
       

            <div class="form-outline mb-4">
                <input type="text" id="loginName" name="Phone" class="form-control" />
                <label class="form-label" for="loginName">Phone</label>
            </div>

            <!-- 2 column grid layout -->
           

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>

            <!-- Register buttons -->
            <div class="text-center">
                <p>Not a member? <a href="#!">Register</a></p>
            </div>
        </form>
    </div>
   
</div>
<!-- Pills content -->
    